.contact-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding-bottom: 2rem;
  /* background-color: rgb(241 245 249); */
}

.contact {
  width: 30rem;
  position: relative;
  top: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact h1,
.contact h3 {
  color: var(--color-light-primary-500);
}

.contact p {
  letter-spacing: 0.1rem;
}

@media (max-width: 1200px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
