.form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1.5rem;
  border-radius: 0.8rem;
  margin-top: 5rem;


}

.form input {
  height: 4rem;
  max-height: 2.5rem;
  padding-left: 0.8rem;
  background: transparent;
  border: 1px solid var(--color-light-primary-300);
  border-radius: 0.8rem;
  opacity: 0.8;
  box-shadow: 0 0 10px var(--color-light-primary-200);
}

.form textarea {
  height: 10rem;
  padding: 0.8rem;
  border: 1px solid var(--color-light-primary-300);
  border-radius: 0.8rem;
  background: transparent;
  box-shadow: 0 0 10px var(--color-light-primary-200);
  font-family: "Roboto";
  font-weight: 300;
}
.form-top__section {
  display: flex;
  gap: 1rem;
}

.name-input,
.email-input {
  width: 100%;
}

.user-icon {
  font-size: 1.5rem;
  color: var(--color-light-primary-600);
}

.plane-icon {
    font-size: 1rem;
}

