.map-container {
  width: 50rem;
  min-height: 35rem;
  height: 35rem;
  margin-top: 2.5rem;

}

label .info-text {
  font-size: 20rem;
}

.map {
    display: flex;
    justify-content: flex-end;

}

.map-info {
  border: none;
  position: absolute;
  z-index: 99999;
  margin-top: 7.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1.4rem;
  background-color: var(--color-light-primary-100);
  font-weight: 500;
  
  
}

.email {
    color: var(--color-light-primary-600);
    font-weight: 700;
}

@media(max-width:1200px) {
  .map {
    width: 35rem
  }
  .map-info {
    transform: scale(0.8);
    position: absolute;
    right: 0.9rem;
   
  }
}
