
.map-container {
  width: 50rem;
  height: 31rem;
  margin-top: 2.5rem;;
}

label .info-text {
  font-size: 20rem;
}

.map {
  display: flex;
  justify-content: flex-end;
}

.candidate-info {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 1.15rem;
  font-weight: 450;
}

.candidate-info >* {
  display: flex;
  gap: 0.5rem;
  
}
.ninja {
  color:#8FD129;
}
.house {
  color: var(--color-light-primary-500)
}
.pin {
  color:#ED1C28;
}
.envelope {
  color:#2d2d2d
}


@media (max-width: 1200px) {
  .map {
    width: 30rem;
  }
  .map-info {
    transform: scale(0.8);
    position: absolute;
    right: 0.9rem;
  }
}
