@font-face {
  font-family: "La Belle Aurore";
  src: url("../assets/font/LaBelleAurore-Regular.ttf");
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;



}

.logo {
  font-size: xx-large;
}
.logo-letter {
  color: var(--color-light-primary-500);
  font-size: 4rem;
  margin-right: 0.3rem;
  box-shadow: 1px 1px 1px 1px var(--color-light-primary-500);
}



.nav-bar {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;

}
.nav-bar a {
  text-decoration: none;
  color: var(--color-light-primary-500);
}

.nav-bar a:hover,
.nav-bar a.active {
  color: var(--color-light-primary-300);
}



