@font-face {
  font-family: "La Belle Aurore";
  src: url("../assets/font/LaBelleAurore-Regular.ttf");
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  padding: 0 1rem;
  font-size: xx-large;
}
.logo-letter {
  color: var(--color-light-primary-500);
  font-size: 4rem;
  margin-right: 0.3rem;
  box-shadow: 1px 1px 1px 1px var(--color-light-primary-500);
}

.nav-bar {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  color: var(--color-light-primary-500);
}
