@font-face {
  font-family: "La Belle Aurore";
  src: url("../assets/font/LaBelleAurore-Regular.ttf");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}


nav {
  display: flex;
  gap: 1rem;
}

.nav-bar {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  color: var(--color-light-primary-500);
}

.nav-bar a:hover,
.nav-bar a.active {
  color: var(--color-light-primary-300);
}

.bars {
  position: fixed;
  right: 2rem;
  top: 1.5rem;
  color: var(--color-light-primary-600);
  z-index: 10;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  .nav-bar {
    display: none;
  }

  .bars {
    display: block;
    position: fixed;
    transition: 0.2s;
  }

  .bars:hover {
    color: var(--color-light-primary-300);
  }
  .switch {
    position: fixed;
    top: 0.35rem;
    right: 3rem;
  }
}
#visiblemenu {
  color: red;
}
