
.side-bar {
  transform: translateY(20%);
}
.nav-bar {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  color: var(--color-light-primary-300);
}

.side-bar ul {
  list-style: none;
  text-decoration: none;
  padding: 5rem;
}

.side-bar ul a {
  text-decoration: none;
  color: var(--color-light-primary-300);
}
.home,
.about,
.work,
.contact,
.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 0.5rem 3rem;
  transition: 0.3s;
}
.home:hover,
.about:hover,
.work:hover,
.contact:hover,
.skills:hover {
  background: #fff;
  border-radius: 0.5rem;
  color: var(--color-light-primary-700);
}

.active {
  background-color: var(--color-light-primary-100);
  opacity: 0.7;
  border-radius: 0.7rem;
}

.active div {
  color: var(--color-light-primary-700);
  font-weight: 500;
}

.menu-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.x-icon {
  font-size: 2rem;
  color: var(--color-light-primary-300);
  cursor: pointer;
  transition: 0.1s;
  padding: 1rem 0.4rem;
  animation: x-rotate 0.5s ease-in-out 
}
@keyframes x-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  
  100% {
    transform: rotate(-180deg);
    opacity: 1;
  }
  
}

.menu-header .x-icon:hover {
  color: var(--color-light-primary-500)
}

@media (max-width:360px) {
  .menu-header :first-child{
    font-size: 1.8rem;
  }
  
}
