
.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 1.2s;

}

.skillCircles {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-light-primary-500);
  color: #fff;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-icon {
  font-size: 1.7rem;
  color: var(--color-light-primary-100)
}

.line {
  transform: rotate(180deg);
}

.line1,
.line5 {
  height: 4rem;
  border: 1.3px solid var(--color-light-primary-500);
  border-radius: 1rem;
  position: relative;
}

.line2,
.line3,
.line4 {
  height: 5.5rem;
  border: 1.3px solid var(--color-light-primary-500);
  position: relative;
}



.card1 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-items: center;
  width: 20rem;
  position: absolute;
  right: 55%;
  transition: 0.2s;
}
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  background-color: var(--color-light-primary-100);
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  color: var(--color-light-primary-700);
  cursor: pointer;
}


.card1 ul,
.card2 ul,
.card3 ul,
.card4 ul {
  margin-left: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card2 {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  position: absolute;
  left: 55%;
  top: 1rem;
  transition: 0.2s;


}

.card3 {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  gap: 0.3rem;
  right: 55%;
  top: 3rem;
  transition: 0.2s;
  

}
.card4 {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  position: absolute;
  left: 55%;
  bottom: -13rem;
  transition: 0.2s;
}

@media(max-width:576px ) {
  .card1,
  .card2,
  .card3,
  .card4 {
  width: 15rem;
  font-size: 1.3rem;
  
}
.card1,
.card3 {
  position: absolute;
  left: -13rem
}
.card2,
.card4 { position: absolute;
  left: -2rem

}
.skills {
  zoom: 0.87;
  
 }
 .line,.skillCircles {
   zoom: 0.9
 }
 

}
