body {
  overflow: hidden;
  height: 100vh;
}

.app {
  height: 100%;
  width: 100%;
  min-height: 60rem;

}


#light {
  background: #fff;
}

#dark {
  background: #000;
}

#dark main {
  color: white;
}

